/* init */
@import "./init/reset.css";
@import "./init/variables.css";
@import "./init/layout.css";
@import "./init/base.css";
/* 3rd party */
@import "./3rd-party/font-awesome.min.css";
/* components */
@import "./components/button.css";
@import "./components/footer.css";
@import "./components/header.css";
@import "./components/services.css";

/* CUSTOM STILIUS SEKCIJOMS */
/* HEADER */
.container.header {
  margin: 0;
  padding: 0;
}
.container.header > .row {
  margin: 0;
  padding: 0;
}
nav > a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  float: right;
  line-height: 20px;
  margin-right: 40px;
}

/* HERO */
/* ACHIEVEMENTS */
.achievements {
  font-weight: 600;
  text-align: center;
}
.rising-number {
  font-size: 40px;
  color: var(--colour-violet);
  font-weight: 600;
  border-right: 1px solid grey;
}
/* SERVICES */

/* DEVICE MANAGER */
/* COMMUNICATION */
/* sAps WORKS */
/* ITERFACE START */
/* OUR REVIEW */
/* PRICE LIST */
/* FAQ */
/* TEAM EXPERTS */
/* AVAILABLE START */
/* SUBSCRIBE */
/* STAY STAR */
/* FOOTER */
