/* init */
@import "./init/reset.css";
@import "./init/variables.css";
@import "./init/layout.css";
@import "./init/base.css";
/* 3rd party */
@import "./3rd-party/font-awesome.min.css";
/* components */
@import "./components/button.css";
@import "./components/footer.css";
@import "./components/header.css";

/* CUSTOM STILIUS SEKCIJOMS */
/* HEADER */
nav > a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  float: right;
  line-height: 20px;
  margin-right: 40px;
}

/* HERO */
/* ACHIEVEMENTS */
.achievements {
  font-weight: 600;
  text-align: center;
}
.rising-number {
  font-size: 40px;
  color: var(--colour-violet);
  font-weight: 600;
  border-right: 1px solid grey;
}
/* SERVICES */

.services {
  text-align: center;
}
.services .rounded-title {
  margin-bottom: 15px;
}
.services .fa {
  line-height: 20px;
  font-size: 18px;
  margin-right: 5px;
}
.services .title {
  line-height: 50px;
  text-align: center;
  position: relative;
  margin-bottom: 30px;
}
.title::after {
  position: absolute;
  content: " ";
  width: 70px;
  height: 2px;
  background-color: var(--colour-violet);
  bottom: -15px;
  left: 50%;
  transform: translate(-50%);
}

.services-icon {
  width: 50px;
}
.service-option {
  border-radius: 30px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  padding: 50px 50px 40px 50px;
  text-align: center;
  margin-top: 40px;
}
.service-option:hover {
  box-shadow: 5px 5px 70px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.service-option > .services-icon,
p {
  margin-bottom: 15px;
}
.footer-title {
  text-align: center;
}
/* DEVICE MANAGER */
/* COMMUNICATION */
/* sAps WORKS */
/* ITERFACE START */
/* OUR REVIEW */
/* PRICE LIST */
/* FAQ */
/* TEAM EXPERTS */
/* AVAILABLE START */
/* SUBSCRIBE */
/* STAY STAR */
/* FOOTER */
