/* init */
@import "./init/reset.css";
@import "./init/variables.css";
@import "./init/layout.css";
@import "./init/base.css";
/* 3rd party */
@import "./3rd-party/font-awesome.min.css";
/* components */
@import "./components/button.css";
@import "./components/footer.css";
@import "./components/header.css";

/* CUSTOM STILIUS SEKCIJOMS */
/* HEADER */
/* HERO */
/* ACHIEVEMENTS */
/* SERVICES */
/* DEVICE MANAGER */
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    font-size: 14px;
    padding: 15px 15px 15px 0;
}
.grid-container > div {
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.subtitle {
    text-transform: capitalize;
    
}
.item-1 > .fa {
    display: inline-block;
    width: 55px;
    font-size: 25px;
    color: #7c4fe0;
    background-color: #fff;
    border: 1px solid #0002;
    padding: 15px 15px;
    border-radius: 3px;
    box-shadow: 0 2px 3px #0001;
}
.grid-container > .Telefonas {
    width: 80%;
    float: right;
}
/* COMMUNICATION */
/* sAps WORKS */
/* ITERFACE START */
/* OUR REVIEW */
/* PRICE LIST */
/* FAQ */
/* TEAM EXPERTS */
/* AVAILABLE START */
/* SUBSCRIBE */
/* STAY STAR */
/* FOOTER */
