.btn {
  display: inline-block;
  color: #fff;
  text-align: center;
  line-height: 22px;
  font-size: 18px;
  border-radius: 5px;
  font-weight: 500;
  background: linear-gradient(-50deg, var(--colour-violet), var(--colour-blue));
  padding: 15px 30px;
  cursor: pointer;
  user-select: none;
  text-transform: capitalize;
}

.btn.btn-violet {
  background: var(--colour-violet-light);
}
.btn.btn-icon {
  display: inline-block;
  height: 45px;
  width: 45px;
  line-height: 45px;
  color: #fff;

}
