.price-list {
    background-color: var(--colour-blue-light);
    position: relative;
    margin-left: 5px;
    margin-right: 15px;
    padding-right: 15px;
    padding-left: 15px;

  }

.price-item {
    display: block;
    padding: 80px 50px;
    background-color: #fff;
    text-align: center;
    border-radius:20px ;
    box-shadow: 0 0.313rem 0.875rem rgb(45 49 54 / 9%); 
    box-sizing: border-box;
    width: auto;
    margin-top: 12px;
    margin-bottom: 12px;
  
}


.price-list-start {
    display: inline-block;
    width: 100%;
    text-align: center;
 
    
    
}
.price-list-start:last-of-type {

    margin-left: 15px;
}
.price-item > .pricelist-img {
    position: relative;
    max-width: 100%;
    outline: 1px solid;
    min-height: 64px;
    max-height: 80px;


    


}
 .price-text {
    display: grid;
      
    grid-row-gap: 10px;

    padding: 1px;
}

.form-price-text {

}

@media (min-width: 576px){
.price-item:last-child {


   

}
}
@media (min-width: 767px){
    .price-item:last-child {
        margin-left: 15px;
    }
    }